<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fill Marks</title>
</head>
<body>
    <h1>Fill Marks</h1><br>
    <form action="/getMarks" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required><br><br>
        <label for="hindi">Hindi:</label>
        <input type="number" name="hindi" id="hindi" required><br><br>
        <label for="english">English:</label>
        <input type="number" name="english" id="english" required><br><br>
        <label for="maths">Maths:</label>
        <input type="number" name="maths" id="maths" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>